<h1 style="margin-left: 70px;">Customer Inscription</h1>

<div style="margin-top: 100px;margin-left: 470px;" class="container">
    
    <div class="row">
      <div class="col-md-6">
          <div>
            <form #f="ngForm" >
                <div class="form-group">
                  <label for="one">Name</label>
                  <input  
                          type="text"
                          id="one" 
                          class="form-control" 
                          [formControl]="nameFormControl"
                          required 
                          pattern="[a-zA-Z]+"
                          minlength="4" 
                          name="name" 
                          >

                 
                </div>
                <div class="form-group">
                    <label for="two">Email address</label>
                    <input  type="email" 
                            
                            
                            [formControl]="emailFormControl"
                            class="form-control"
                            id="two"
                            required
                            email
                            name="email"
                            
                    >
                   
                  </div>
                  
                <div class="form-group">
                  <label for="three">Password</label>
                  <input  type="password"
                 
                          
                          id="three"
                          [formControl]="passFormControl"
                          pattern="[a-z A-Z 0-9]+"
                          class="form-control"
                          minlength="8"
                          required
                          name="password" 
                          
                  >
                 
                </div>
               
                
                <button [disabled]="f.invalid || loading"  *ngIf="!myCondition" type="submit" (click)="register()" class="btn btn-primary btn-block">{{buttionText}}
                </button>
                <button *ngIf="myCondition" type="submit" (click)="updateclient()" class="btn btn-warning btn-block">Update</button>
              </form>
<br> 
              <div *ngIf="myClients.length==0" class="alert alert-warning">Pas de clients inscrit maintenant</div>
              <br>
              <table *ngIf="myClients.length>0" class="table table-success">
                 <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Pass</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let myVar of myClients">
                    <td>{{myVar.id}}</td>
                    <td>{{myVar.name}}</td>
                    <td>{{myVar.email}}</td>
                    <td>{{myVar.password}}</td>
                    <td><button type="button" class="btn btn-danger" (click)="deleteClient(myVar.id)">Delete</button> </td>
                    <td><button type="button" class="btn btn-warning ml-2" (click)="editClient(myVar)">Update</button></td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
    </div>
</div>      
